#########################################
# START GOOGLE MAPS
#########################################


GoogleMapLocationsDOD:
  page_classes_with_map:
    - HomePage
  page_classes_without_map:
    - UserDefinedForms

GoogleMapLocationsDOD_Controller:
  form_prefix: "RandomString"

GoogleMap:

  #####################################
  # BASIC MAP SETTINGS
  #####################################

  # check settings e.g. 3.15 or 3.exp
  api_version: ""

  # not always needed
  google_map_api_key: ""

  # use sensor from mobile phone
  uses_sensor: true

  # starting latitude for map
  default_latitude: 12.001

  # starting longitude for map
  default_longitude: 133.2210

  # starting zoom for map
  default_zoom: 2

  #map width in pixels (ranges from around 100 to 900)
  google_map_width: 473

  #map height in pixels (ranges from around 100 to 600)
  google_map_height: 525


  #####################################
  # MAP CONTROLS
  #####################################

  # "1" => "roadmap", "2 => "satellite", "3" => "hybrid", "4" => "terrain"
  map_type_default: 3

  #size of the view finder in pixels (e.g. 250)
  view_finder_size: 200

  #Allow the visitor to change the map type (e.g. from a satellite to a normal map)
  map_add_type_control: true

  #map controller size (allows user to zoom and pan)", array("1" => "small", "2" => "medium", "3" => "large"), $value = "3"));
  map_control_size_one_to_three: 3

  #size of the map scale in pixels (default is 100)
  map_scale_info_size_in_pixels: 150



  #####################################
  # INFORMATION AROUND THE MAP
  #####################################

  default_title: "check out the map"

  default_where_statement_description: "how we have selected our points..."

  #hide map status (which shows information like ... loading new points now ...)
  no_status_at_all: false

  #add link to KML file
  add_kml_link: false

  #remove points hidden by visitors to your map
  hidden_layers_removed_from_list: false

  #adjust the page title when you change the map
  change_page_title: false


  # ????
  number_of_items_before_showing_list: 3

  #ID for DIV of map title (leave blank to remove)
  title_div_id: "GmapTitleID"

  #ID for DIV that shows additional information about map leave blank to remove)"
  side_bar_div_id: ""

  #ID for DIV of dropdown box with points in map (leave blank to remove)
  drop_down_div_id: "GoogleMapDropDownList"

  #ID for DIV that shows list of map layers (leave blank to remove)
  layer_list_div_id: ""

  #ID for DIV that shows directions from map (leave blank to remove)
  directions_div_id: ""

  #ID for DIV that shows status of map - e.g. points loaded, address found, etc..
  status_div_id: ""



  #####################################
  # INFO WINDOW
  #####################################

  #info window options (see http: https://developers.google.com/maps/documentation/javascript/reference#InfoWindowOptions for details)
  info_window_options: "{maxWidth: 280, zoomLevel:17, mapType:G_HYBRID_MAP}"

  #add antipodean option (allowing visitors to find the exact opposite point on earth)
  add_antipodean: false

  #add directions finder to map pop-up windows
  add_directions: false

  #add a tab with the address finder
  add_current_address_finder: false

  #add a "zoom in" link on info window?
  add_zoom_in_button: false

  # the text that links through to the details for the marker
  ajax_info_window_text: "view details"



  #####################################
  # MARKER
  #####################################

  #allow user to add points to the map
  add_points_to_map: true

  #allow user to remove points from the map
  add_delete_marker_button: "remove me"

  #marker options (see http: https://developers.google.com/maps/documentation/javascript/reference#MarkerOptions for details)
  marker_options: "{opacity: 1.0, anchorPoint: 12, icon: '/images/icon.png', shape: new google.maps.MarkerShape({coords: [0,0,50,50], type: 'rect'})}"


  #####################################
  # ICON
  #####################################

  default_icon_url: "googlemap/images/icons/i5.png"

  #default Icon Folder - icons need to be name: i1, i2, i3, i4, etc...
  icon_folder: "googlemap/images/icons/"

  icon_width: 20

  icon_height: 34

  #default icon extension (e.g. png, gif or jpg)
  icon_extension: "png"

  #maximum number of layers, before reverting back to icon number one (e.g. 12)
  icon_max_count: 12



  #####################################
  # POLYS
  #####################################

  # colour for additional lines (e.g. routes) on map (use web colour codes)
  line_colour: "#dcb916"

  #width of the line in pixels
  line_width: 5

  #opacity for the line (default is 0.5 - should range from transparent: 0 to opaque: 1
  line_opacity: 0.5

  #colour for polygons (e.g. regions) on map
  fill_colour: "#dcb916"

  #opacity for polygons (default is 0.3 - should range from transparent: 0 to opaque: 1)
  fill_opacity: 0.3

  #location for icon used for polygon and polyline (e.g. http: #www.mysite.com/icon.png)
  poly_icon: ""


  #####################################
  # STATIC MAP
  #####################################

  static_map_settings: "maptype=terrain"

  #- -e.g. bluea - alternatively you can use the setDefaultIcon to any absolute URL
  static_icon: "red1"

  save_static_map_locally: false

  #####################################
  # ADDRESS
  #####################################

  #provide an address finder helping visitors to enter an address and search for it on the map
  add_address_finder: false

  # see: https://developers.google.com/maps/documentation/geocoding/#RegionCodes
  default_country_code: ""

  number_shown_in_around_me: 7


  #####################################
  # DIRECTIONS
  #####################################

  locale_for_results: "en_NZ"

  style_sheet_url: "googlemap/css/googleMapDirections.css"


  #####################################
  # SERVER INTERACTION
  #####################################

  #latitude form field to be updated on new marker creation or marker movement
  lat_form_field_id: ""

  #longitude form field to be updated on new marker creation or marker movement
  lng_form_field_id: ""




#########################################
# END GOOGLE MAPS
#########################################
